body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;


}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: rgb(113, 113, 113);
    gap: 20px;
}
.left button{
    border: none;
    background: none;
    width: 60px;
    height: 60px;
}
.left button:hover{
    background-color: #dedede;
    border-radius: 30px;
    width: 60px;
    height: 60px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 500px;
    height: 100%;
}

main article{
    padding: 20px;
    width: 40%;
    min-height: 400px;
    height: 80%;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 20px;
}
main article:hover{

    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
 
}
main article button{
    background: none;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 30px;
    color: rgb(77, 133, 255);
    font-size: 18px;
    height: 10%;

}
main article button:hover{
    background-color: rgb(222, 232, 255);
    border-radius: 20px;

}

.showtask_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 20px;
  

}
.ButtonReady {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background-image: url("img/foni-papik-pro-isxm-p-kartinki-krug-belii-na-prozrachnom-fone-17.png");
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex-shrink: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; 
}

.ButtonReady:active{
     background-image: url("img/circle_14026656.png");
}


.showtask_container:hover{
    background-color: rgb(236, 236, 236);
    
    border-radius: 10px;

}

#container{
    display: flex;
    flex-direction: column;
}



.InputNameofTask{
    background: none;
    border: none;
    border-radius: 20px;
}

.button_task_settins_left{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    

}

.button_task_settins{
    background-image: url("img/free-icon-three-dots-7066144.png");
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
}

.button_task_settins_right{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.context_menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 10;
}

.context_menu button {
    background: none;
    border: none;
    padding: 5px 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}
.svg_panel{
    display: flex;
    justify-content: start;
    height: 1000px;
    width: 20%;
    background-color: red;
}

.context_menu button:hover {
    background: #eee;
}
